* {
margin: 0;
padding: 0;
}


.container{
    max-width: 1658px;
    margin: 0 auto;
   background-color: #f9f9fb;
    padding: 0 20px;   
}

.padding{
    padding-left: 54px;
    padding-right: 54px;
}

a {
    text-decoration: none;
}

@media (max-width:1658px;){
    .container{
     max-width:1658px;
    }
}


@media (max-width:992px;){
    .container{
     max-width:750px;
    }
}

@media (max-width:767px;){
    .container{
     max-width:none;
    }
}

.first_header_slider {
    background-image: url(img/header_bg_8.jpg);
    height: 345px;
    position: relative;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding-left: 54px;
    padding-right: 54px;
        
}

/*
.second_deader_slider {
    min-width: inherit;
    height: 580px;
    background-image: url(img/placeholder_9.jpg);
    position:relative;
    top: -290px;
    margin-left: 54px;
    margin-right: 54px;
    top:170px;
   
}

.header_bottom {
    widows: 1533px;
    height: 102px;
    background-color: #f7f7f7;
}



.headline {
    color: aliceblue;
}
*/



















.social {
    display: flex;
    list-style-type: none;
}



.social_img_wi_fi {
    padding: 20px 20px;
    width: 13px;
    height: 14px;
}

.social_img_linkedin {
    padding: 20px 20px;
    width: 15px;
    height: 13px;
}

.social_img_twitter {
    padding: 20px 20px;
    width: 9px;
    height: 16px;
}

.social_img_facebook{
    padding: 20px 20px;
    width: 9px;
    height: 16px;
}

.social_img_search{
    padding: 20px 20px;
    width: 15px;
    height: 16px;
}

.menu {
    padding: 20px 20px;
}



.logo {
    position: relative;
    width: 151px;
    height: 16px;
    margin: 0 auto;
    padding-top: 20px;
}

.second_deader_slider {
    background-image: url(img/placeholder_9.jpg);
    width: 1530px;
}
